*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
option{
  font:2em;
}
.container-flex{
  padding:3%;
  display: flex;
  align-items: center;
}
.navbar a{
  display: inline-block;
  text-decoration: none;
  font-family: Camber-sb;

}
.items{
  display: block;
  padding: 30px;
  margin: auto;
}
button{
  text-decoration: none;
  background-color: none;
  border: none;
}
a{
  cursor: pointer;
  margin: 0 30px;
}
.item-container{
  display: flex;
  align-items: center;
  position: relative;
}
.d-icon--chevron-down{
  position: relative;
  top: 0.5em;
}
.sub-items{
  position:absolute;
  left:50%;
  top:100%;
  font-weight: bold;
  cursor: pointer;

}

/* add css to table  */
table{
  background-color: #F5F2ED;
}
a{
  text-decoration: none;
}
.achievement-tiles {
  display: flex;
  flex-wrap: wrap;
}

.achievement-tile {
  margin: 8px 0;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%; 
}
.static-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.static-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 200px; /* Adjust the width as needed */
}


